/* Footer.css */


.footer {
    background-color: rgb(98, 99, 101);
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 0 20px;
    border-radius: 0;
    color: white;
  }