/* LotteryBox.css */

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .lottery-box {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

/* En tu archivo LotteryBox.css o donde tengas tus estilos CSS */

.first-column {
  width: 500px;
  height: 500px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 3rem;
  background-color: #f9f9f9;
  position: relative;
  left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  .second-column {
    position: relative;
    left: 9rem;
  }

  .winner-number {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
    top: 4rem;
  }
  
  .winner-name {
    position: absolute;
    top: 6rem;
    font-size: 3rem;
  }

  .winner-table {
    position: relative;
    margin-left: 50rem;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 17rem;
    right: 1.6rem;
  }

  .sortear, .agua {
    width: 15rem;
    border-radius: 5rem;
    position: relative;
    top: 9rem;
  }

  .sortear {
    background-color: #364F6B;
    color: #fff;
  }

  .reiniciar {
    color: white;
    background-color: rgb(98, 99, 101);
    position: absolute;
    top: 29rem;
    right: 1.5rem;
    width: 92%;
    border-radius: 5rem;
  }

  .agua {
    margin-left: 1rem;
    background-color: #FE8266;
    color: #fff;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
    color: #fff;
  }

  .lema {
    margin-left: 2rem;
    color: white;
  }
  
  .next {
    position: relative;
    margin-bottom: -20px;
  }